.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 383px;
    /*margin-right: 82px;*/
    margin-bottom: 98px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0px;
    }

    &::before {
      content: "";
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &_alarm::before {
      background-image: url(../images/ALARM.svg);
    }

    &_line::before {
      background-image: url(../images/LINEGRAPH.svg);
    }

    &_computer::before {
      background-image: url(../images/COMPUTER.svg);
    }

    &_book::before {
      background-image: url(../images/BOOK.svg);
    }

    &_home::before {
      background-image: url(../images/HOME.svg);
    }

    &_image::before {
      background-image: url(../images/IMAGE.svg);
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    text-transform: uppercase;
  }
}
